{{#section 'js'}}

{{/section}}

<div class="card shadow-lg mx-auto" style="max-width: 800px;">
  <!-- Header -->
  <h5 class="card-header text-center fw-bold display-4 bg-danger text-white py-4 font-weight-bold">
    {{this.article.Title}}
  </h5>

  <!-- Body -->
  <div class="card-body">
    <!-- Category Badge -->
    <div class="mb-3 text-center">  
      <a href="/articles/byCat?id={{this.article.CatID}}" class="nav-link">
        <span class="badge badge-info px-3 py-2 fs-6">
        {{this.article.CatName}}</span>
        </a>
    </div>

    <!-- Publish Date and Author -->
    <div class="text-muted text-center mb-4">
      <p class="mb-1"><strong>Publish Date:</strong> {{this.article.PublishDate}}</p>
      <p class="mb-0"><strong>Author:</strong> {{this.article.Author}}</p>
    </div>

<!-- Abstract -->
    <p class="card-text text-muted lead text-justify fst-italic">
      {{this.article.Abstract}}
    </p>
    <!-- Article Image -->
    <div class="text-center mb-4">
      <img class="img-fluid rounded border" 
           src="/static/imgs/news/{{this.article.NewsID}}/main_thumbs.jpg" 
           alt="{{this.article.Title}}" 
           style="max-height: 600px; width: 100%; object-fit: cover;">
    </div>

    

    <!-- Content -->
    <div class="card-text text-justify" style="line-height: 1.8;">
      {{{this.article.Content}}}
    </div>
     <!-- Comment Section -->
     <div class="container mt-5">
  <h5>Comments for Article</h5>

  <!-- Existing Comments -->
  <div id="comments-section">
    {{#if comments.length}}
      {{#each comments}}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{this.author}}</h5>
            <p class="card-text">{{this.content}}</p>
            <small class="text-muted">{{this.datecreate}}</small>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p>No comments yet. Be the first to comment!</p>
      <a class="btn btn-sm btn-primary" href="/articles/comment" role="button">
            Add your comment  <i class="bi bi-pencil-square"></i>
      </a>
    {{/if}}
  </div>

    </div>
  </div>
  </div>

  <!-- Footer -->
  <div class="card-footer text-muted text-center py-3 justify-content-center">
    <p class="card-text">Thank you for reading!</p>
  </div>
</div>

